/Homework/Introduction_to_C/build/
/Homework/Introduction_to_C/dist/
/Homework/01IntroductionToC/01PlayWithYourIDETextEditor/build/
/Homework/01IntroductionToC/01PlayWithYourIDETextEditor/dist/
/Homework/01IntroductionToC/02PlayWithStandardCLibrary/build/
/Homework/01IntroductionToC/02PlayWithStandardCLibrary/dist/
/Homework/01IntroductionToC/03HelloWorld/dist/
/Homework/01IntroductionToC/03HelloWorld/build/
/Homework/01IntroductionToC/04PrintYourName/build/
/Homework/01IntroductionToC/04PrintYourName/dist/
/Homework/01IntroductionToC/05PrintNumbers/dist/
/Homework/01IntroductionToC/05PrintNumbers/build/
/Homework/01IntroductionToC/06PrintFirstAndLastName/dist/
/Homework/01IntroductionToC/06PrintFirstAndLastName/build/
/Homework/01IntroductionToC/07SquareRoot/build/
/Homework/01IntroductionToC/07SquareRoot/dist/
/Homework/01IntroductionToC/08PrintSequence/dist/
/Homework/01IntroductionToC/08PrintSequence/build/
/Homework/01IntroductionToC/12CurrentDateAndTime/dist/
/Homework/01IntroductionToC/12CurrentDateAndTime/build/
/Homework/01IntroductionToC/13AgeAfter10Years/build/
/Homework/01IntroductionToC/13AgeAfter10Years/dist/
/Homework/02CDataTypes/01DeclareVariables/build/
/Homework/02CDataTypes/01DeclareVariables/dist/
/Homework/02CDataTypes/02FloatOrDouble/build/
/Homework/02CDataTypes/02FloatOrDouble/dist/
/Homework/02CDataTypes/03VariableInHexadecimalFormat/build/
/Homework/02CDataTypes/03VariableInHexadecimalFormat/dist/
/Homework/02CDataTypes/04Gender/build/
/Homework/02CDataTypes/04Gender/dist/
/Homework/02CDataTypes/05Names/dist/
/Homework/02CDataTypes/05Names/build/
/Homework/02CDataTypes/06QuotesInStrings/build/
/Homework/02CDataTypes/06QuotesInStrings/dist/
/Homework/02CDataTypes/07ExchangeVariableValues/build/
/Homework/02CDataTypes/07ExchangeVariableValues/dist/
/Homework/02CDataTypes/08EmployeeData/build/
/Homework/02CDataTypes/08EmployeeData/dist/
/Homework/02CDataTypes/09BankAccountData/build/
/Homework/02CDataTypes/09BankAccountData/dist/
/Homework/02CDataTypes/10ComparingFloats/dist/
/Homework/02CDataTypes/10ComparingFloats/build/
/Homework/02CDataTypes/11PrintTheASCIITable/build/
/Homework/02CDataTypes/11PrintTheASCIITable/dist/
/Homework/03FormattedInputOutput/01SumOf3Numbers/build/
/Homework/03FormattedInputOutput/01SumOf3Numbers/dist/
/Homework/03FormattedInputOutput/02PrintCompanyInformation/build/
/Homework/03FormattedInputOutput/02PrintCompanyInformation/dist/
/Homework/03FormattedInputOutput/03CirclePerimeterAndArea/dist/
/Homework/03FormattedInputOutput/03CirclePerimeterAndArea/build/
/Homework/03FormattedInputOutput/04FormattingNumbers/build/
/Homework/03FormattedInputOutput/04FormattingNumbers/dist/
/Homework/03FormattedInputOutput/05SumOf5Numbers/build/
/Homework/03FormattedInputOutput/05SumOf5Numbers/dist/
/Homework/03FormattedInputOutput/06NumbersFrom1ToN/dist/
/Homework/03FormattedInputOutput/06NumbersFrom1ToN/build/
/Homework/03FormattedInputOutput/07SumOfNNumbers/dist/
/Homework/03FormattedInputOutput/07SumOfNNumbers/build/
/Homework/03FormattedInputOutput/08FibonacciNumbers/build/
/Homework/03FormattedInputOutput/08FibonacciNumbers/dist/
/Homework/03FormattedInputOutput/09NumbersInIntervalDividableByGivenNumber/dist/
/Homework/03FormattedInputOutput/09NumbersInIntervalDividableByGivenNumber/build/
/Homework/04COperators/01OddOrEvenIntegers/build/
/Homework/04COperators/01OddOrEvenIntegers/dist/
/Homework/04COperators/02BigAndOdd/build/
/Homework/04COperators/02BigAndOdd/dist/
/Homework/04COperators/03PureDivisor/build/
/Homework/04COperators/03PureDivisor/dist/
/Homework/04COperators/04GravitationOnTheMoon/dist/
/Homework/04COperators/04GravitationOnTheMoon/build/
/Homework/04COperators/05DivideBy7And5/dist/
/Homework/04COperators/05DivideBy7And5/build/
/Homework/04COperators/06Rectangles/dist/
/Homework/04COperators/06Rectangles/build/
/Homework/04COperators/07AverageSum/build/
/Homework/04COperators/07AverageSum/dist/
/Homework/04COperators/08ThirdDigitIs7/build/
/Homework/04COperators/08ThirdDigitIs7/dist/
/Homework/04COperators/09FourDigitNumber/build/
/Homework/04COperators/09FourDigitNumber/dist/
/Homework/04COperators/10N-thDigit/dist/
/Homework/04COperators/10N-thDigit/build/
/Homework/06CLoops/02NumbersNotDivisibleBy3And7/dist/
/Homework/06CLoops/02NumbersNotDivisibleBy3And7/build/
/Homework/06CLoops/01NumbersFrom1ToN/dist/
/Homework/06CLoops/01NumbersFrom1ToN/build/
/Homework/06CLoops/04PrintADeckOf52Cards/dist/
/Homework/06CLoops/04PrintADeckOf52Cards/build/
/Homework/06CLoops/05CalculateExpression/build/
/Homework/06CLoops/05CalculateExpression/dist/
/Homework/06CLoops/10OddAndEvenProduct/build/
/Homework/06CLoops/10OddAndEvenProduct/dist/
/Homework/06CLoops/11PointInACircle/build/
/Homework/06CLoops/11PointInACircle/dist/
/Homework/06CLoops/12PrimeNumberCheck/dist/
/Homework/06CLoops/12PrimeNumberCheck/build/
/Homework/06CLoops/13Trapezoids/build/
/Homework/06CLoops/13Trapezoids/dist/
/Homework/06CLoops/14PointInsideCircleOutsideRectangle/build/
/Homework/06CLoops/14PointInsideCircleOutsideRectangle/dist/