/Homework/Introduction_to_C/build/
/Homework/Introduction_to_C/dist/
/Homework/01IntroductionToC/01PlayWithYourIDETextEditor/build/
/Homework/01IntroductionToC/01PlayWithYourIDETextEditor/dist/
/Homework/01IntroductionToC/02PlayWithStandardCLibrary/build/
/Homework/01IntroductionToC/02PlayWithStandardCLibrary/dist/
/Homework/01IntroductionToC/03HelloWorld/dist/
/Homework/01IntroductionToC/03HelloWorld/build/
/Homework/01IntroductionToC/04PrintYourName/build/
/Homework/01IntroductionToC/04PrintYourName/dist/
/Homework/01IntroductionToC/05PrintNumbers/dist/
/Homework/01IntroductionToC/05PrintNumbers/build/
/Homework/01IntroductionToC/06PrintFirstAndLastName/dist/
/Homework/01IntroductionToC/06PrintFirstAndLastName/build/
/Homework/01IntroductionToC/07SquareRoot/build/
/Homework/01IntroductionToC/07SquareRoot/dist/