@model Twitter.App.Models.ViewModels.UserPageViewModel
@{
    ViewBag.Title = @Model.Username;
}

<div class="row">
    <div class="col-lg-12">
        <img class="cover-image" src="@Model.CoverImage" />
        <img class="profile-image" src="@Model.ProfileImage" />
    </div>
</div>






