body {
  font-family: Verdana, Arial, Helvetica;
  main {
    margin: 0 auto;
    width: 650px;
    section {
      height: 300px;
      float: left;
      border: 1px solid #cbcbcb;
      box-shadow: 3px 3px 3px #dcdcdc;
      margin: 5px;
      header {
        h2 {
          font-size: 13px;
          margin: 10px 10px 0 10px;
          a {
            text-decoration: none;
            color: #000000;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        div {
          padding: 0;
          font-size: 10px;
          margin: 0 10px;
        }
      }
      img {
        float: left;
        margin: 10px;
      }
      p {
        width: 280px;
        margin: 10px;
        font-size: 13px;
      }
    }
  }
}