@font-face {
  font-family: 'Yanone Kaffeesatz Regular';
  src: url('../fonts/yanonekaffeesatz-regular-webfont.ttf');
}
body {
  font-family: Yanone Kaffeesatz Regular, Arial, sans-serif;
  background-image: url("../images/form-background.png");
  main {
    position: relative;
    section {
      &:first-child {
        background: url("../images/envelope-top.png") no-repeat center bottom;
        width: 600px;
        margin: 0 auto;
      }
      &:last-child {
        background: url("../images/envelope-bottom.png") no-repeat center top;
        width: 600px;
        height: 300px;
        margin: -133px auto 0 auto;
      }
      header {
        h1 {
          text-align: center;
          font-size: 40px;
          color: #7d7974;
        }
      }
      form {
        width: 400px;
        height: 375px;
        margin: 0 auto;
        padding: 20px;
        background-image: url("../images/letter-background.png");
        h2 {
          margin: 10px 0 0 0;
          color: #7d7974;
        }
        label {
          color: #b3aca2;
          text-transform: uppercase;
        }
        #message {
          font-family: Helvetica, Arial, serif;
          width: 100%;
          height: 60px;
          background: transparent;
          border: 1px solid #e3dcd1;
          border-radius: 5px;
        }
        #message:focus {
          background: #ffffff;
          outline: none;
        }
        #message:active {
          outline: none;
        }
        input {
          font-family: Helvetica, Arial, serif;
          width: 100%;
          height: 30px;
          background: transparent;
          border: 1px solid #e3dcd1;
          border-radius: 5px;
        }
        input:focus {
          background: #ffffff;
          outline: none;
        }
        input:active {
          outline: none;
        }
        div {
          width: 100% ;
          text-align: center;
          button {
            font-family: Yanone Kaffeesatz Regular, Arial, sans-serif;;
            font-size: 22px;
            color: #7d7974;
            margin-top: 10px;
            padding: 5px 10px;
            background: transparent;
            border: none;
          }
          button:hover {
            color: #445d71;
            background-color: #bbc9cf;
            border-radius: 5px;
          }
          button:focus {
            outline: none;
          }
        }
      }
    }
  }
}
