@model PagedList.IPagedList<Twitter.App.Models.ViewModels.TweetViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter</h1>
</div>

@if (@Model != null)
{
    foreach (var tweet in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src=@tweet.Author.ProfileImage alt="Profile Image" class="media-object profile-image-sm" />
                <span>@tweet.Author.Username</span>
                <time>@tweet.TweetedOn</time>
            </div>
            <div class="panel-body">@tweet.Content</div>
            <div class="panel-footer">Panel footer</div>
        </div>
    }

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
}