@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Twitter</h1>
    <p class="lead">This is a free social network website. You can follow friends and tweet a tweet.</p>
</div>