body {
  .add {
    display: inline-block;
    .add_video {
      margin: 20px;
      label, input {
        margin: 10px;
        padding: 3px;
      }
    }
  }
  .filter {
    display: inline-block;
  }
  .view {
    display: block;
    .video_container {
      vertical-align: top;
      display: inline-block;
      margin: 10px;
      width: 350px;
      border: 1px solid black;
      border-radius: 10px;
      img {
        width: 150px;
        height: 150px;
      }
    }
    .comments_container {
      margin: 5px;
      padding: 5px;
      width: 250px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}