html, body, div {
    margin: 0;
    padding: 0;
}
#head {
    margin: 1em;
    width: 20em;
    height: 20em;
    border: 0.15em solid #000000;
    background: #ffff00;
    border-radius: 50%;
}
#leftEye {
    margin: 4em 0 0 4em;
    float: left;
    width: 3.5em;
    height: 3.5em;
    border: 0.15em solid #000000;
    background: #ffffff;
    border-radius: 50%;
}
#leftIris {
    margin: 1.8em 0 0 1.8em;
    width: 1em;
    height: 1em;
    border: 0.1em solid #000000;
    background: #000000;
    border-radius: 50%;
}
#rightEye {
    margin: 4em 4em 0 0;
    float:right;
    width: 3.5em;
    height: 3.5em;
    border: 0.15em solid #000000;
    background: #ffffff;
    border-radius: 50%;
}
#rightIris {
    margin: 0;
    width: 1em;
    height: 1em;
    border: 0.1em solid #000000;
    background: #000000;
    border-radius: 50%;
}
#nose {
    margin: 8.4em 0 0 8.4em;
    width: 2.75em;
    height: 2.75em;
    border: 0.15em solid #000000;
    background: #ff0000;
    border-radius: 50%;
}
#mouth {
    margin: 1em 0 0 5.5em;
    width: 8.5em;
    height: 3.5em;
    border: 0.15em solid #000000;
    background: #ffffff;
    border-radius: 2em;
}
.leftTeeth {
     margin: -0.1em 0 0 2.5em;
     width: 1.5em;
     height: 1.5em;
     border: 0.15em solid #000000;
     border-top:  none;
     border-bottom-left-radius: 0.4em;
     border-bottom-right-radius: 0.4em;
 }
.rightTeeth {
    margin: -1.6em 0 0 4.2em;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid #000000;
    border-top:  none;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;

}