body {
  main {
    margin: 10px;
    form {
      section {
        h1 {
          font-weight: 400;
          font-size: 18px;
        }
        input {
          margin-bottom: 20px;
        }
      }
    }
    h2 {
      margin: 0;
    }
  }
}