@model Caching.App.Models.SoftUniNewsModel

<div class="jumbotron">
    <h3>@Model.Title</h3>
    <p>
        <a class="btn btn-primary btn-lg" href="@Model.Link">Научи повече</a>
    </p>
</div>

