@charset "utf-8";

html,body,section,article,header,button,h1,p,img,footer,form,fieldset,label,div,span,input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: Verdana, sans-serif;
    color: #2c425a;
}

section,
article,
header,
footer { display: block; }

input { vertical-align: middle; }

section {
    max-width: 772px;
    min-width: 483px;
    margin: 20px auto 10px;
    position: relative;
}

article {
    padding-left: 12px;
    margin-right: 197px;
    max-width: 561px;
}

form {
    background-color: #f7fcff;
    border: 1px solid #d9eefa;
    width: 191px;
    padding-top: 15px;
    padding-bottom: 26px;
    position: absolute;
    top: 3px;
    right: 0;
}

article>.header {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -2px;
    padding-top: 21px;
    padding-left: 8px;
    margin-bottom: 12px;
}

button {
    width: 177px;
    height: 212px;
    border: 1px solid #d9eefa;
    border-radius: 10px 10px 0 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

button:hover { cursor: pointer; }

button>.header,
button:active .header,
button:focus .header {
    position: absolute;
    top: 12px;
    left: 10px;
}

h1 { letter-spacing: 1px; }

p { text-align: left;
    line-height: 20px; }

button>.footer,
button:active .footer,
button:focus .footer {
    background-color: #2c425a;
    color: white;
    width: 105px;
    line-height: 39px;
    border-top-left-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

img,
button:active img,
button:focus img {
    margin-top: 25px;
    z-index: 1;
    position: relative;
}

.new,
button:active .new,
button:focus .new {
    position: absolute;
    top: 50px;
    left: 11px;
    z-index: 2;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

fieldset>div {
    position: relative;
    margin-bottom: 21px;
}

span {
    font-size: 13px;
    position: absolute;
}
span:nth-of-type(2) { right: 0; }

input {
    height: 20px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 20px;
}