body {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
header {
    background-color: #254566;
    width: 100%;
    height: 110px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#logo > a > img {
    margin: 10px;
    float: left;
}
#search {
    float: right;
    margin-left: 600px;
    padding: 20px 40px;
}
#search > span:nth-child(1)  {
    margin-right: 5px;
    font-size: 12px;
    vertical-align: 40%;
}
#search > span:nth-child(3) > a {
    margin-left: 20px;
    vertical-align: 20%;
}
#search-box {
    vertical-align: 40%;
    width: 250px;
    line-height: 16px;
    padding: 5px;
    border-radius: 5px;
}
#button {
    vertical-align: 35%;
    margin-left: -35px;
    text-indent: -99999px;
    width: 30px;
    height: 29px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url(../images/search.png) 5px 3px no-repeat;
}

::-webkit-input-placeholder {
    color: lightgray;
}
#menu > ul > li {
    display: inline-block;
    float: left;
    padding: 0 20px;
}
#menu > ul > li a {
    padding: 7px;
}
#menu > ul > li:hover a {
    background-color: #FF9C00;
    padding: 7px;
    border-radius: 5px;
}
#menu > ul > li > ul > li {
    display: block;
}
#menu > ul > li:hover > ul {
    display: block;
    visibility: visible;
}
#menu > ul > li:hover > ul > li > a {
    background-color: #234465;
}
.sub-menu{
    display: none;
    padding: 7px 7px;
    position: absolute;
    top: 95px;
    background-color: #234465;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
ul.sub-menu > li{
    display: block;
    text-align: left;
    padding: 1px;
}
ul.sub-menu > li > a{
    display: block;
    padding: 5px 0;
    border-bottom: solid 1px #44607C
}




