html, body {
    margin: 0;
    padding: 0;
}

.background {
    width: 56em;
    height: 37.5em;
    background: #0067DB;
    background: -o-radial-gradient(20% 20%, farthest-side,#ffffff 5%, #F9F8B7 10%, #F9F8B7 10%,#ffffff 20%,#0067DB);
    background: -webkit-radial-gradient(20% 20%, farthest-side,#ffffff 5%, #F9F8B7 10%, #F9F8B7 10%,#ffffff 20%,#0067DB);
    background: -moz-radial-gradient(20% 20%, farthest-side,#ffffff 5%, #F9F8B7 10%, #F9F8B7 10%,#ffffff 20%,#0067DB);
    background: radial-gradient(5% 5%, farthest-side, #ffffff 10%, #fffda0 ,#ffffff ,#0067DB);
}
.position {
    display: inline-block;
    position: absolute;
}
.background-image{
    width: 56em;
    height: 37.5em;
    background-image: url("../images/HawaiiBackground.png");
}
@font-face {
    font-family: AnimatedFont;
    src: url("../fonts/Animated.ttf");
}
.text {
    display: inline-block;
    top: 0.5em;
    left: 11em;
    font-family: AnimatedFont, sans-serif;
    color: #FDBC21;
    font-size: 2.8em;
}
.one {
    top: 14em;
    left: 2.5em;
    content: url("../images/VladoGHula.png");
}
.two {
    top: 12em;
    left: 11em;
    content: url("../images/PetiaHula.png");
}
.three {
    top: 23em;
    left: 16em;
    content: url("../images/TediHula.png");
}
.four {
    top: 10.25em;
    left: 25.25em;
    content: url("../images/NakovHula.png");
}
.five {
    top: 13em;
    left: 30em;
    content: url("../images/AlexHula.png");
}
.six {
    top: 15em;
    left: 41em;
    content: url("../images/VladoKHula.png");
}

