<div ng-include="'templates/header-view.html'"></div>

<!-- Edit Profile -->
<div class="wrapper style1 first" ng-if="isLoggedIn">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
                <span class="image fit"><img src="images/logo.jpg" alt=""/></span>
                <input type="file"/>
            </div>
            <div class="8u">
                <header>
                    <h1>Edit Profile</h1>
                </header>
            </div>
        </div>
    </article>
</div>


<div ng-include="'templates/footer-view.html'"></div>
