<!-- Head -->
<div ng-include="'templates/partial/head.html'"></div>

<!-- Header -->
<div ng-include="'templates/partial/header-view.html'"></div>

<!-- Welcome Guest -->
<div class="wrapper style1 first" ng-if="!isLoggedIn">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
                <span class="image fit"><img src="images/logo.jpg" alt=""/></span>
            </div>
            <div class="8u">
                <header>
                    <h1>Welcome to <strong>iBook</strong></h1>
                </header>
                <p>Stay connected with your friends. It's free and aways will be.</p>
                <a href="#/login" class="button big">Log In</a>
                <a href="#/signup" class="button big">Sign Up</a>
            </div>
        </div>
    </article>
</div>

<!-- User News Feed -->
<div class="wrapper style1 first" ng-if="isLoggedIn">
    <article class="container">
        <div class="row">
            <div class="12u">
                <h1>News Feed</h1>
            </div>
        </div>
        <div class="row">
            <div class="4u 12u(mobile)">
                <section class="box style1">
                    <div class="row">
                        <div class="12u">
                            Friends - 33 total
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <a href=""><img src="images/testFriend.jpg"/></a>
                            <a href=""><img src="images/testFriend.jpg"/></a>
                            <a href=""><img src="images/testFriend.jpg"/></a>
                            <a href=""><img src="images/testFriend.jpg"/></a>
                            <a href=""><img src="images/testFriend.jpg"/></a>
                            <a href=""><img src="images/testFriend.jpg"/></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="8u" ng-infinite-scroll="loadNewsFeed()" ng-infinite-scroll-disabled="newsFeedBusy" ng-infinite-scroll-distance="0">
                <div ng-include="'templates/partial/posts-view.html'"></div>
            </div>
        </div>
    </article>
</div>

<!-- Footer -->
<div ng-include="'templates/partial/footer-view.html'"></div>
