<div ng-include="'templates/header-view.html'"></div>

<!-- Login -->
<div class="wrapper style1">
    <article id="logIn" class="container 75%">
        <header>
            <h2>Log In</h2>
        </header>
        <div>
            <div class="row">
                <div class="12u">
                    <form name="loginForm">
                        <div>
                            <div class="row">
                                <div class="6u">
                                    <input type="text" name="username" id="loginUsername" required
                                           ng-model="loginData.username" placeholder="Username"/>
                                </div>
                                <div class="6u">
                                    <input type="password" name="password" id="loginPassword" required
                                           ng-model="loginData.password" placeholder="Password"/>
                                </div>
                            </div>
                            <div class="row 200%">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="button" value="Log In" ng-click="validateWhenLogIn()"
                                                   ng-disabled="loginForm.username.$error.required ||
                                                   loginForm.password.$error.required" /></li>
                                        <li><input type="button" ng-click="cancel()" value="Cancel" class="alt"/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>

<div ng-include="'templates/footer-view.html'"></div>
