<!-- Title -->
<title ng-bind="title"></title>

<!-- Header -->
<div ng-include="'templates/partial/header-view.html'"></div>

<!-- User Change Password -->
<div class="wrapper" ng-if="isLoggedIn">
    <article class="container 75%">
        <header>
            <h1>Change Password</h1>
        </header>
        <div>
            <div class="row">
                <div class="12u">
                    <form name="changePasswordForm">
                        <div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li>
                                            <input type="password" name="oldPassword" id="oldPassword"
                                                   placeholder="Old Password *"
                                                   required ng-model="changePasswordData.oldPassword"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li>
                                            <input type="password" name="newPassword" id="newPassword"
                                                   placeholder="New Password *"
                                                   required ng-model="changePasswordData.newPassword"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li>
                                            <input type="password" name="confirmPassword" id="confirmPassword"
                                                   placeholder="Confirm Password *"
                                                   required ng-model="changePasswordData.confirmPassword"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row 200%">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="button" value="Save Changes" ng-click="changePassword()"
                                                   ng-disabled="changePasswordForm.oldPassword.$error.required ||
                                                   changePasswordForm.newPassword.$error.required ||
                                                   changePasswordForm.confirmPassword.$error.required"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>

<!-- Guest Change Password -->
<div class="wrapper style1 first" ng-if="!isLoggedIn" ng-bind="cancel()"></div>

<!-- Footer -->
<div ng-include="'templates/partial/footer-view.html'"></div>
