body {
  #container {
    margin: 20px auto;
    width: 500px;
    border: 1px solid black;
    h1 {
      text-align: center;
    }
    #inner-container {
      margin: 10px;
      border: 1px solid black;
    }
    form {
      margin: 10px;
      button {
        margin-left: 10px;
      }
    }
  }
}