<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://www.demoqa.com/"/>
    <add key="TestDataSheetPath" value="D:\SoftUni\qa-automation\02. QA-Automation-Design-Patterns\SeleniumDesignPatternsDemo\SeleniumDesignPatternsDemo\DataDrivenTests\"/>
    <add key="Logs" value="D:\SoftUni\qa-automation\02. QA-Automation-Design-Patterns\SeleniumDesignPatternsDemo\SeleniumDesignPatternsDemo\Logs\"/>
  </appSettings>
</configuration>
