html, body, div {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
}
.box {
    margin: 2em 2em 0 0.5em;
    text-align: center;
    width: 31.3em;
    height: 12.5em;
    border-top: 0.35em dotted #ffff00;
    border-right: 0.7em solid #008000;
    border-bottom: 0.45em double #0000ff;
    border-left: 0.35em dashed #ff0000;
    box-shadow: 0.8em 0.8em 0.3em #555555;
}
.big-header {
    padding-top: 0.3em;
    font-size: 2.25em;
    text-shadow: 0.3em 0.3em 0.25em #b9b9b9;
}
.inbox {
    margin: 2em;
    padding: 0.7em;
    text-align: center;
    font-size: 1.1em;
    box-shadow: 0 0 0 0.17em #ff0000, 0 0 0 0.25em #ffff00, 0 0 0 0.45em #008000, 0 0 0 0.55em #0000ff;
    border-radius: 50px;
}
.small-header {
    margin-bottom: 0.7em;
    font-size: 0.9em;
    text-shadow: 0.5em 0.5em 0.5em #b9b9b9;
}
.button input {
    width: 11.3em;
    height: 1em;
    text-align: center;
    background-color: #eb9000;
    border: 0.3em outset orange;
}
::-webkit-input-placeholder {
    color: #000000;
}
:-ms-input-placeholder {
    color: #000000;
}
.bubble {
    display: inline-block;
    position: absolute;
    background-color: rgba(135, 135, 135, 0.50);
    border: 0.15em dashed #ffffff;
    border-radius: 2em;
    box-shadow: 0 0 0 0.25em rgba(135, 135, 135, 0.50);
}

.small-bubble {
    top: 9.5em;
    left: 25.3em;
    width: 0.8em;
    height: 0.8em;
}
.medium-bubble {
    top: 7.5em;
    left: 27.5em;
    width: 1.5em;
    height: 1.5em;
}
.big-bubble {
    top: 4em;
    left: 30em;
    width: 6em;
    height: 3.2em;
}
.cool-text {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

}
