body {
    background-color: lightblue;
    margin-left: 20px;
}
img {
    border:2px solid #000000;
}
p {
    white-space: pre;
}
span {
    font-weight: bold;
}
.line {
    background-color: #ddd;
    height:2px;
    width:100%;
    margin: 12px auto;
}
.italic {
    font-style: italic;
}
.tab {
    padding-left: 2.5em;
}