<!-- Friends Preview -->
<section class="box" ng-init="loadFriendsPreview()">
    <div class="row">
        <div class="12u">
            Friends -
            <a href="#/{{userData.username || myData.username}}/friends">
                {{friendsDataTotalCount}}</a> total
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <a href="#/{{friend.username}}" ng-repeat="friend in friendsData">
                <img ng-src="{{friend.profileImageData}}" title="{{friend.name}}" class="thumb-image"/>
            </a>
        </div>
    </div>
</section>
