<!-- User Posts -->
<section class="box style1" ng-repeat="post in feedData">
    <div class="row">
        <div class="4u">
            <a href="#/{{post.author.username}}">
                <img class="thumb-image" title="{{post.author.name}}" ng-src="{{post.author.profileImageData}}"/>
            </a>
        </div>
        <div class="8u">
            <div class="row">
                <div class="8u">
                    <a href="#/{{post.author.username}}" title="{{post.author.name}}">
                        {{post.author.name}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="8u">
                    {{post.date | date:'dd MMM yyyy HH:mm:ss'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            {{post.postContent}}
        </div>
    </div>
    <div class="row">
        <div class="6u" ng-if="post.author.username == myData.username">
            <a href="" class="icon fa-edit" ng-click="expandEditPostTextarea(post.id)">edit</a>
        </div>
        <div class="6u"
             ng-if="(post.wallOwner.username == myData.username) || (post.author.username == myData.username)">
            <a href="" class="icon fa-eraser" ng-click="deletePost(post)">delete</a>
        </div>
    </div>
    <div class="row" ng-if="isEditPostTextareaExpanded && editPostId == post.id">
        <div class="12u">
            <form name="editPostForm">
                <div class="row">
                    <div class="6u">
                        <textarea name="post" id="post" required ng-model="post.postContent"></textarea>
                    </div>
                    <div class="6u">
                        <input type="button" ng-disabled="!editPostForm.$valid" value="Edit Post"
                               ng-click="editPost(post)"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="6u">
            {{post.likesCount}}
            <span ng-if="!authorisationSecurity(post)"> Likes</span>
            <a href="" class="icon {{!post.liked && 'fa-thumbs-o-up' || 'fa-thumbs-o-down'}}" ng-if="authorisationSecurity(post)"
               ng-click="post.liked = !post.liked; !post.liked && unlikePost(post); post.liked && likePost(post);">
                {{!post.liked && 'Like' || 'Unlike'}}</a>
        </div>
        <div class="6u">
            {{post.totalCommentsCount}}
            <span ng-if="!authorisationSecurity(post)"> Comments</span>
            <a href="" class="icon fa-comments-o" ng-if="authorisationSecurity(post)"
               ng-click="expandNewCommentTextarea(post.id)"> Comment</a>
        </div>
    </div>
    <div class="row" ng-if="isNewCommentTextareaExpanded && commentPostId == post.id" ng-controller="CommentController">
        <div class="12u">
            <form name="newCommentForm">
                <div class="row">
                    <div class="6u">
                        <textarea name="newComment" id="newComment" required placeholder="Comment..."
                                  ng-model="commentData.commentContent"></textarea>
                    </div>
                    <div class="6u">
                        <input type="button" ng-disabled="!newCommentForm.$valid" value="Comment"
                               ng-click="createComment(post, commentData); expandNewCommentTextarea(post.id)"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <article class="box style1" ng-repeat="comment in post.comments" ng-controller="CommentController">
        <div class="row">
            <div class="4u">
                <a href="#/{{comment.author.username}}">
                    <img class="thumb-image" title="{{comment.author.name}}"
                         ng-src="{{comment.author.profileImageData}}"/>
                </a>
            </div>
            <div class="8u">
                <div class="row">
                    <div class="8u">
                        <a href="#/{{comment.author.username}}" title="{{comment.author.name}}">
                            {{comment.author.name}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="8u">
                        {{comment.date | date:'dd MMM yyyy HH:mm:ss'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                {{comment.commentContent}}
            </div>
        </div>
        <div class="row">
            <div class="12u">
                {{comment.likesCount}}
                <span ng-if="!authorisationSecurity(post)"> Likes</span>
                <a href="" class="icon {{!comment.liked && 'fa-thumbs-o-up' || 'fa-thumbs-o-down'}}"
                   ng-if="authorisationSecurity(post)"
                   ng-click="comment.liked = !comment.liked; !comment.liked && unlikeComment(post, comment); comment.liked && likeComment(post, comment);">
                    {{!comment.liked && 'Like' || 'Unlike'}}</a>
            </div>
        </div>
    </article>
    <div class="row" ng-if="isMoreButtonVisible && post.totalCommentsCount > 3" ng-controller="CommentController">
        <div class="12u">
            <input type="button" value="More" ng-click="loadComments(post); hideMoreButton();"/>
        </div>
    </div>
</section>
