<!-- User Posts -->
<section class="box style1" ng-repeat="post in feedData">
    <div class="row">
        <div class="4u">
            <a href="#/{{post.author.username}}">
                <img class="thumb-image" title="{{post.author.name}}" ng-src="{{post.author.profileImageData}}"/>
            </a>
        </div>
        <div class="8u">
            <div class="row">
                <div class="8u">
                    <a href="#/{{post.author.username}}" title="{{post.author.name}}">
                        {{post.author.name}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="8u">
                    {{post.date | date:'dd MMM yyyy HH:mm:ss'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            {{post.postContent}}
        </div>
    </div>
    <div class="row">
        <div class="6u" ng-if="post.author.username == myData.username">
            <a href="" class="icon fa-edit" ng-click="expandTextarea(post.id)">edit</a>
        </div>
        <div class="6u"
             ng-if="(post.wallOwner.username == myData.username) || (post.author.username == myData.username)">
            <a href="" class="icon fa-eraser" ng-click="deletePost(post)">delete</a>
        </div>
    </div>
    <div class="row" ng-if="editPostDataExpanded && editPostId == post.id">
        <div class="12u">
            <form name="editPostForm">
                <div class="row">
                    <div class="6u">
                        <textarea name="post" id="post" required ng-model="post.postContent"></textarea>
                    </div>
                    <div class="6u">
                        <input type="button" ng-disabled="!editPostForm.$valid" value="Edit Post"
                               ng-click="editPost(post)"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="6u">
            {{post.likesCount}}
            <a ng-if="!likeSecurity(post)"> Likes</a>
            <a href="" class="icon {{!post.liked && 'fa-thumbs-o-up' || 'fa-thumbs-o-down'}}" ng-if="likeSecurity(post)"
               ng-click="post.liked = !post.liked; !post.liked && unlikePost(post); post.liked && likePost(post);">
                {{!post.liked && 'Like' || 'Unlike'}}</a>
        </div>
        <div class="6u">
            {{post.totalCommentsCount}}
            <a href="" class="icon fa-comments-o"> Comment</a>
        </div>
    </div>
</section>
