body {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 13px;
  main {
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px #dcdcdc;
    header {
      text-align: center;
      color: #323232;
      h1 {
        font-size: 24px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
      }
    }
    section {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid #cecece;
      article {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        h2 {
          color: #151d12;
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 0;
        }
        input {
          width: 95%;
          padding: 10px;
          margin: 7px 0;
          border: 1px solid #cdcfcc;
          border-radius: 5px;
        }
        .ticked {
          background: url("../images/ok.png") 290px center no-repeat;
        }
        .crossed {
          background: url("../images/no.png") 290px center no-repeat;
        }
        input:focus {
          outline: none;
        }
        div {
          margin: 10px 0;
          input[type=checkbox] {
            width: 15px;
            margin: 0;
          }
          label {
            font-size: 14px;
            color: #90917f;
          }
        }
        p {
          a {
            color: #fd5c83;
            font-weight: bold;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        button {
          padding: 10px;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          box-shadow: 0 2px 5px #c7c7c7 ;
          background-color: #f0f0f0;
          cursor: pointer;
        }
        button:hover {
          background-color: #b0df68;
        }
      }
    }
  }
}