<!-- Title -->
<title ng-bind="title"></title>

<!-- Header -->
<div ng-include="'templates/partial/header-view.html'"></div>

<!-- User Edit Profile -->
<div class="wrapper style1 first" ng-if="isLoggedIn">
    <article class="container">
        <div class="12u">
            <header>
                <h1>Edit Profile</h1>
            </header>
            <form name="editProfileForm">
                <div class="12u">
                    <div class="row">
                        <div class="4u" id="top">
                            <span class="image fit">
                                <img ng-src="{{myData.profileImageData}}"/>
                            </span>
                            <label for="photo-upload" class="button browse">Browse Photo</label>
                            <input id="photo-upload" type="file" ng-picture-select="onFileSelect($files)"
                                   ng-model="myData.profileImageData"/>
                        </div>
                        <div class="8u">
                            <div class="row">
                                <div class="6u">
                                    <input type="text" name="name" id="name" placeholder="Name"
                                           required ng-model="myData.name"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="6u">
                                    <input type="text" name="email" id="email" placeholder="Email"
                                           required ng-model="myData.email"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="6u radio">
                                    <legend>Gender:</legend>
                                    <label for="male">Male</label>
                                    <input type="radio" name="gender" id="male" value=1
                                           ng-model="myData.gender"/>
                                    <label for="female">Female</label>
                                    <input type="radio" name="gender" id="female" value=2
                                           ng-model="myData.gender"/>
                                    <label for="other">Other</label>
                                    <input type="radio" name="gender" id="other" value=0
                                           ng-model="myData.gender"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="6u">
                                    <span class="image"><img ng-src="{{myData.coverImageData}}"/></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="6u">
                                    <label for="cover-upload" class="button">Browse Cover</label>
                                    <input id="cover-upload" type="file" ng-cover-select="onFileSelect($files)"
                                           ng-model="myData.coverImageData"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <input type="button" value="Save Changes" ng-click="editProfile()"
                               ng-disabled="!editProfileForm.$valid"/>
                    </div>
                </div>
            </form>
        </div>
    </article>
</div>

<!-- Guest Edit Profile -->
<div class="wrapper style1 first" ng-if="!isLoggedIn" ng-bind="cancel()"></div>

<!-- Footer -->
<div ng-include="'templates/partial/footer-view.html'"></div>
