<!-- Head -->
<div ng-include="'templates/partial/head.html'"></div>

<!-- Header -->
<div ng-include="'templates/partial/header-view.html'"></div>

<!-- User Wall -->
<div class="wrapper style1 first" ng-if="isLoggedIn">
    <article class="container" id="top">
        <div class="row" ng-cover-background="http://placekitten.com/g/250/300">
            <div class="4u">
                <span class="image fit"><img ng-src="{{userData.profileImageData}}"/></span>
            </div>
            <div class="8u">
                <header>
                    <h1>Welcome to my wall</h1>
                </header>
            </div>
        </div>
    </article>
</div>

<!-- Guest Wall -->
<div class="wrapper style1 first" ng-if="!isLoggedIn" ng-bind="cancel()"></div>

<!-- Footer -->
<div ng-include="'templates/partial/footer-view.html'"></div>
