html, body, main, legend, label, input, div {
    margin: 0;
    padding: 0;
}

main {
    width: 460px;
    height: 265px;
    padding: 5px;
    font-family: verdana, sans-serif;
    background-color: #eeeeee;
}
p {
    color: #b6b6b6;
    font-size: 11px;
}
header {
    color: #234465;
    font-size: 15px;
    font-weight: bold;

}
.box {
    float: left;
    margin: 2px;
    width: 220px;
    height: 200px;
    text-transform: uppercase;
}
legend {
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
}
legend span:first-child {
    color: #797979;
}
legend span:last-child {
    color: #234465;
}
input {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    width: 190px;
    height: 15px;
    color: #b6b6b6;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #dcdcdc;
}
.login {
    color: #ffffff;
    background-color: #234465;
}
.login input[type="checkbox"] {
    float: left;
    width: 13px;
    height: 13px;
}
label {
    float: left;
    margin-top: 5px;
    font-size: 8px;
    text-transform: none;
}
.register input:last-child {
    float: right;
    width: 100px;
    height: 25px;
    color: #234465;
    border: 1px solid #234465;
}
.button-position {
    float: right;
}
.login input:last-child {
    width: 90px;
    height: 25px;
    background-color: #234465;
    border: 2px solid #b07c24;
}
.login a {
    margin: 0 15px 0 50px;
    float: right;
    color: #ffffff;
    font-size: 8px;
    text-transform: none;
}