html, body, main, legend, label, input, div, p {
    margin: 0;
    padding: 0;
}
main {
    width: 300px;
    height: 200px;
    background-color: #ffc0cb;
    font-family: verdana, sans-serif;
    font-style: italic;
    font-size: 9px;
}
header {
    padding: 3px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
div {
    display: inline-block;
}
label {
    display: block;
}
#left-side {
    display: inline-block;
    width: 140px;
    float: left;
    margin: 3px ;
}
#right-side {
    display: inline;
    width: 140px;
    float: left;
    margin: 3px ;
}
input {
    width: 140px;
}
#left-one {
    margin-bottom: 13px;
}
#right-two {
    margin: 2px;
    width: 9px;
    height: 9px;
    float: left;
}

#left-four, #left-five, #left-six {
    margin-top: 2px;
    float: left;
    width: 40px;
}

#right-three-left, #right-three-right, #right-four-left, #right-four-right {
    float: left;
    width: 64px;
    margin-right: 2px;
}
select {
    width: 140px;
}
.button input {
    height: 22px;
    font-size: 11px;
    font-weight: bold;
}