html,body,section,header,form,fieldset,legend,input,label,div,select,option,textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: verdana, sans-serif;
    background-color: #3b5997;
}

header,
section { display: block; }

input,
select { vertical-align: middle; }

/* STYLES */

section {
    color: white;
    width: 840px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADERS */
section header {
    font-size: 140px;
    font-weight: bold;
    letter-spacing: -24px;
    margin-top: -5px;
    margin-left: 135px;
}

span {
    font-size: 15px;
    font-weight: normal;
    margin-left: 25px;
}

section header:nth-of-type(2) {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 25px;
    margin-left: 309px;
}

section header:nth-of-type(3) {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1.2px;
    margin-top: 14px;
    margin-left: 286px;
}

/* FIELDSETS */
fieldset {
    width: 309px;
    height: 247px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;
    float: left;
}

fieldset:nth-of-type(2) {
    width: 453px;
    margin-left: 37px;
}

legend {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    padding-left: 5px;
    padding-right: 5px;
}

/* TEXT FIELDS */
input,
select,
textarea {
    background-color: white;
    font-size: 12px;
    width: 133px;
    height: 28px;
    border-radius: 5px;
    padding-left: 2px;
    margin-top: 13px;
    margin-left: 12px;
    display: inline-block;
}

input[name="last_name"],
input[name="village"],
input[name="district"],
input[name="nr"],
input[name="floor"],
input[name="app_nr"],
input[name="water_meter_nr"],
select[name="aunt_bra_size"] { margin-left: 4px; }

input[type="email"],
input[type="password"],
input[name="street"],
input[name="nr"],
input[name="floor"],
input[name="app_nr"] { margin-top: 9px; }

input[type="tel"],
input[type="url"] {
    margin-top: 10px;
    margin-left: 4px;
}

input[type="date"] {
    margin-top: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

input[type="time"] {
    margin-top: 8px;
    margin-left: -6px;
    width: 85px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

input[type="color"],
input[name="water_meter_nr"],
select[name="aunt_bra_size"] { margin-top: 8px; }

input[type="color"] {
    padding-left: 1px;
    padding-right: 1px;
}

input[name="nr"],
input[name="floor"],
input[name="app_nr"] { width: 67px; }

textarea {
    width: 426px;
    height: 64px;
    overflow: hidden;
    padding-top: 2px;
    margin-top: 4px;
}

/* COUNTRY SELECT */
select { color: #a9a9a9; }
option:not(:first-child) { color: black; }
option:disabled { color: #a9a9a9; }
.blackText { color: black; }

/* RADIO BUTTONS */
input[type="radio"] {
    width: 12px;
    height: 12px;
    margin-top: 0;
}

/* LABELS */
label {
    font-size: 12px;
    display: block;
}

label[for="birthday"],
label[for="door_color"],
label[for="more_personal_information"] { margin-left: 12px; }

label[for="female"],
label[for="male"],
label[for="other"] { display: inline-block; }

label[for="female"],
label[for="male"] { margin-right: 5px; }

label[for="more_personal_information"] { margin-top: 10px; }

/* DIV FRAMES */
div:not(:first-of-type) { margin-top: 8px; }

/* BUTTONS */
input[type="reset"],
input[type="submit"] {
    color: #3b5997;
    font-size: 18px;
    width: 314px;
    height: 54px;
    border-radius: 10px;
    margin-top: 19px;
    margin-left: 18px;
}

input[type="submit"] {
    font-size: 27px;
    width: 459px;
    margin-left: 28px;
}